@model IEnumerable<ChkListCursos.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UuidArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cat_Roles.NombreRol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UuidArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cat_Roles.NombreRol)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UuidUsuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.UuidUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UuidUsuario })
        </td>
    </tr>
}

</table>
