@model IEnumerable<ChkListCursos.Models.cat_Roles>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ST)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ST)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UuidRol }) |
            @Html.ActionLink("Details", "Details", new { id=item.UuidRol }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UuidRol })
        </td>
    </tr>
}

</table>
