@model ChkListCursos.Models.Certificado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Certificado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idCertificado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCertificado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCertificado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCertificado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cat_Area.NombreArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_Area.NombreArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.NombreEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.NombreEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructor.NombreInstructor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor.NombreInstructor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UuidCertificado }) |
    @Html.ActionLink("Back to List", "Index")
</p>
