@model ChkListCursos.Models.Verificador

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Verificador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idCurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCurso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreVerificador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreVerificador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UuidEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UuidEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cat_Area.NombreArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_Area.NombreArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.NombreUsuario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
